<!-- <h2> Cím az app.component-en</h2>
<h3>Szia {{nev}}!</h3>
<p>{{tomb}}</p>
<p>{{emberek|json}}</p>    |json -> szöveget csinál az objektumból
<p>Név: {{emberek[0].nev}}</p>
<p>Név: {{emberek[0]["nev"]}}</p>
<p>Kor: {{emberek[0].kor}}</p> -->

<div class="row fw-bold my-2">
  <div *ngFor="let oszlopNev of oszlopok" class="col">{{oszlopNev}}</div> 
  <div class="col">
    Műveletek
  </div>
</div>

<div class="row">
  <div *ngFor="let oszlopNev of oszlopok" class="col">
    <input [(ngModel)]="ujEmber[oszlopNev]" type="text" class="form-control">
    </div> 
  <div class="col">
    
    <button (click)="hozzaAd()" type="button" class="btn mt-2 btn-success">Hozzáadás</button>
    

  </div>
  
</div>
<div *ngFor="let ember of emberek" class="row">
  <div *ngFor="let oszlopNev of oszlopok" class="col">
    <input [(ngModel)]="ember[oszlopNev]" type="text" class="form-control">
    </div> 
  <div class="col">
    
    <button (click)="torles( ember)" type="button" class="btn mt-2 btn-danger">Törlés</button>
    

  </div>
  
</div>


